@CHARSET "EUC-KR";

div.view {
	visibility: visible;
}

div.noview {
	visibility: hidden;
}

div#tb_url {
	overflow-wrap: break-word;
}

div.well {
	overflow-wrap: break-word;
	white-space: normal;
}

textarea {
	width: 100%;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.tab-content>div>select {
	width: 100%;
	margin-bottom: 15px;
}

div.collapse>select {
	width: 100%;
	margin-bottom: 15px;
}

.btn-group {
	margin-bottom: 3px;
}

.nav-tabs {
	margin-bottom: 0;
}

.media-body {
	padding: 10px;
}

table#table_log>tbody>tr>td {
	overflow-wrap: break-word;
	white-space: normal;
}

div.panel-heading>div.btn-group {
	float: right;
}

div.div_mc {
	overflow-y: auto;
	height: 220px;
	overflow-x: hidden;
}

div[id^="div_mc_"] {
	border-bottom: 3px dotted #000;
	padding-bottom: 0px;
	padding-top: 0px;
}

div[id^="div_mc_"]>.input-group {
	margin-bottom: 0px;
	margin-top: 0px;
}

div[id^="div_mc_"]>.checkbox {
	margin-bottom: 0px;
	margin-top: 0px;
}

.btn-span-ellipsis {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
}

.splitter {
	border-bottom: 1px dotted #000;
}

#tt_jwt {
	resize: none;
}

a.disabeld {
	pointer-evnets: none;
	cursor: default;
}

.selectedli {
	background-color: #eee;
	border: 1px dotted #123;
}

.span_index {
	width: 100%;
}

.input-group>span.input-group-addon {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	width: 180px;
	text-align: left;
	padding-left: 10px;
}

.input-group {
	width: 100%;
}

input[type="text"]:disabled {
	background: #fff;
}

h4.media-heading { 
	font-size : small;
	text-overflow: ellipsis;
	white-space: nowrap;
}
li .media { 
	white-space: nowrap;
}
ul .media-list {
	display: inline-block;
	white-space: nowrap;
}
